/* Stili generali per l'icona informativa */
.info-icon {
    font-size: 18px;
    margin-left: 8px;
    color: #4CAF50;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

/* Posizionamento e visibilità dell'info-icon */
.form-group {
    display: flex;
    align-items: center; /* Allinea verticalmente gli elementi */
    justify-content: space-between; /* Distanza tra etichetta e input */
    margin: 10px 0;
    width: 100%;
}

.form-group label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 1.1em;
}

/* Tooltip per icona informativa */
.info-icon:hover::after {
    content: attr(title);
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
    width: max-content;
}

.info-icon:hover::before {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    z-index: 1;
}

/* Tooltip per schermi grandi */
@media (min-width: 768px) {
    .info-icon:hover::after {
        left: 120%;
        top: 50%;
        transform: translateY(-50%);
    }

    .info-icon:hover::before {
        left: 110%;
        top: 50%;
        transform: translateY(-50%);
        border-color: transparent #333 transparent transparent;
    }
}

/* Tooltip per schermi piccoli */
@media (max-width: 767px) {
    .info-icon:hover::after {
        left: 50%;
        top: 120%;
        transform: translateX(-50%);
    }

    .info-icon:hover::before {
        left: 50%;
        top: 110%;
        transform: translateX(-50%);
        border-color: #333 transparent transparent transparent;
    }

    /* Sposta l'icona nella parte inferiore sui dispositivi mobili */
    .form-group {
        display: flex;
        flex-direction: column; /* Sposta gli elementi in colonna */
        align-items: flex-start; /* Allinea gli elementi a sinistra */
    }

    .info-icon {
        margin-left: 0;
        margin-top: 10px; /* Distanza tra l'input e l'icona */
    }

    .form-group label {
        margin-bottom: 5px;
    }
}

/* Media Queries per dispositivi tablet e schermi medi */
@media (min-width: 768px) and (max-width: 1024px) {
    .form-group {
        justify-content: space-between;
    }

    .info-icon {
        margin-left: 8px;
    }
}

/* Media Queries per schermi desktop e schermi molto grandi */
@media (min-width: 1025px) {
    .form-group {
        display: flex;
        justify-content: space-between; /* Mantiene lo spazio tra gli elementi */
        align-items: center; /* Centra verticalmente */
    }

    .info-icon {
        margin-left: 8px; /* Aggiungi un po' di margine a sinistra */
    }
}
